.excerpt{display:inline-block; width:100%; max-width:320px; padding-bottom:20px;}
.excerpt img{}
.excerpt .excerpttxt{display:block; position:relative; max-width:84%; margin:-40px auto; padding:20px; text-align:center;}
.excerpt .excerpttxt > ul{margin:0 0 15px 0; padding:0; font-size:.8rem;}
.excerpt .excerpttxt > ul li{display:inline-block; margin-right:8px;}
.excerpt .excerpttxt > ul li:first-child::after{margin-left:10px; content:"|";}
.excerpt .excerpttxt > ul li:last-child{margin-right:0;}
.excerpt .heading{margin:0 0 30px 0;}
.excerpt p:last-of-type{margin:0; padding:0;}